annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
appdirs==1.4.4
atomicwrites==1.4.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
cryptography==49.0.0
deprecation==2.1.0
fastapi==0.137.1
grpcio==1.81.1
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.18
jsonpointer==3.1.1
langchain-core==1.4.7
langchain-ollama==1.1.0
langchain-protocol==0.0.17
langchain-text-splitters==1.1.2
langgraph==1.2.4
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
langsmith==0.8.16
matplotlib==3.10.6
multidict==6.7.1
numpy==2.4.6
ollama==0.6.2
orjson==3.11.9
ormsgpack==1.12.2
packaging==26.2
pdf2image==1.17.0
pillow==12.2.0
portalocker==3.2.0
postgrest==2.31.0
propcache==0.5.2
protobuf==7.35.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
pyls-spyder==0.4.0
PyQt5==5.15.11
PyQtWebEngine==5.15.7
PySide6==6.9.2
pytesseract==0.3.13
python-dotenv==1.2.2
python-multipart==0.0.32
qdrant-client==1.18.0
realtime==2.31.0
requests==2.34.2
setuptools==80.9.0
shiboken6==6.9.2
starlette==1.3.1
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
tenacity==9.1.4
typer==0.20.0
typer-slim==0.20.0
urllib3==2.7.0
uuid_utils==0.16.1
uvicorn==0.49.0
websockets==15.0.1
wheel==0.45.1
xxhash==3.7.0
yarl==1.24.2
zstandard==0.25.0
